/* -----------------------
      BASIC SETUP
----------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: 50px;
  color: #2e2e2e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(126deg, rgba(2,0,36,1) 3%, rgba(9,99,121,0.7777485994397759) 56%, rgba(0,212,255,0.6096813725490196) 89%);
}

/* -----------------------
          TITLE 
----------------------- */

.section-title {
  text-align: center;
}

.section-title h1 {
  font-size: 200%;
  padding-bottom: 7px
}

.section-title h2 {
  font-style: italic;
  font-size: 90%;
  margin-bottom: 30px;
}

/* -----------------------
  FORM  AND INPUT LAYOUT
----------------------- */

.sign-up-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 20px 50px 20px;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.4108018207282913) 100%);
  border-radius: 6px;
}

.sign-up-form label, 
input[type=text],
input[type=email],
input[type=password],
input[type=submit] {
  display: block;
  font-size: 85%;
  width: 100%;
  padding-bottom: 7px;
}

.sign-up-form
input[type=text],
input[type=email],
input[type=password],
input[type=submit] {
  margin-bottom: 15px;
  padding: 12px;
  border: 0;
  border-radius: 6px;
  font-size: 70%;
}

.sign-up-form select {
  font-size: 70%;
  width: 100%;
  margin-bottom: 15px;
}

/* -----------------------
      SIGN UP BUTTON
----------------------- */

.sign-up-btn input[type=submit] {
  color: #fff;
  border: 0;
  background: linear-gradient(126deg, rgba(2,0,36,1) 3%, rgba(9,99,121,0.7777485994397759) 56%, rgba(0,212,255,0.6096813725490196) 89%);
  cursor: pointer;
}

.sign-up-btn input:hover {
  background: linear-gradient(126deg, rgba(2, 0, 36, 0.5) 3%, rgba(9, 99, 121, 0.466) 56%, rgba(0, 213, 255, 0.473) 89%);
  text-transform: uppercase;
  color: #000000;
}

/* -----------------------
        GRID ITEMS
----------------------- */

.group-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "first last";
}

.first-name {
  grid-area: first;
  margin-right: 7px;
}

.last-name {
  grid-area: last;
}

.birthday {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "month day year";
}

.group-month {
  grid-area: month;
  margin-right: 7px;
}

.group-day {
  grid-area: day;
  margin-right: 7px;
}

.group-year {
  grid-area: year;
}

.group-gender label {
  display: inline;
  padding-left: 7px;
  vertical-align: sub;
}

.group-gender {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "male female other";
  margin-bottom: 15px;
}

.male {
  grid-area: male;
}

.female {
  grid-area: female;
}

.other {
  grid-area: other;
}

.agreement {

  display: flex;
  margin-bottom: 15px;
}

.agreement input {
  margin-left: 10%;
}

.agreement label {
  padding-left: 12px;
}